# MRS.PDFbot CONFIGURATION FILE

# ----------------------------------------------------------------------------------------
# startpage is the URL where the spider will begin. By default it will crawl all links it
#	can find, even if they take it a long way from the original page
# ----------------------------------------------------------------------------------------

URL_List = url_file.txt
startpage = ""

# ----------------------------------------------------------------------------------------
# Filetypes. Whilst this is designed for PDFs, feel free to modify this. Just make sure
#	the filetype matches up with the mediatype on archive.org, otherwise we will all be
# 	exceptionally sad.
#			images		(jpeg, jpg, tif, png, gif...)	mediatype: images
#			documents	(pdf, txt...)					mediatype: texts
# ----------------------------------------------------------------------------------------

filetype = pdf
mediatype = texts

# ----------------------------------------------------------------------------------------
# wget quota is bytes (b), kilobytes (k) or megabytes (m). This is NOT the total sum of
#	all PDFs, but a representation of the max amount of data downloaded. For example, if
#	a 1 MB html file is downloaded (to find links) and then rejected as it is not a PDF
#	file, then this 1 MB will count towards your quota. 
# ----------------------------------------------------------------------------------------

quotastring = 250m

# ----------------------------------------------------------------------------------------
# archive.org name or names to use in the "Contributor" field. Not required by default.
#	If using, remember none of the names are hyperlinked on the Archive, therefore
#   consider it a standard string - i.e. you don't have to put a comma between multiple
#   names as it would just be a stylistic choice.
# ----------------------------------------------------------------------------------------

contributor = "MRS.PDFbot"


# ----------------------------------------------------------------------------------------
# Confirmation settings:
#  confirm_uploads 			checks before uploading to archive.org by providing a total 
#							file number. By default MRS.PDFbot just uploads without asking
#  clean_up					clean_up function removes empty directories and moves PDFs
#							into a single folder. Default is "Y"(es)
#  clean_up_folder			the folder into which PDFs will be moved. If left blank will
#							default
# ----------------------------------------------------------------------------------------		

confirm_uploads = N
clean_up = Y
uploaded_pdfs_folder = uploaded_PDFs